body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(253, 242, 226);
}
div.nav{
    height: 7vh;
    color: white;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
div.end{
    height: 7vh;
    color: white;
    background-color: cadetblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
}
div h2 a {  
    text-decoration: none;
    color: white;
}
div.container{
    width: 60%;
    margin: 25px auto;
}
div.entry{
    margin: 25px 0 ;
    background-color: rgba(109, 187, 187, 0.603);
    border-radius: 8px;
    padding: 10px 25px;
}
hr{
    border: 2px solid cadetblue;
}
.article{
    font-size: 20px;
}
.title{
    justify-content: center;
}
p , h2{
    color: rgb(83, 82, 82);
}